@import
url("https://fonts.googleapis.com/css?family=Raleway:300,300italic,400,600,700,900");

* {
  box-sizing: border-box;
}

.logo {
  height: 100px;
  width: 100px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif, Arial;
  text-align: center;
}

img {
  height: 400px;
  width: 600px;
}

.container {
  width: 95%;
  margin: 1em;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5em; 
}

.container p {
  font-weight: 300;
  display: block;
  font-size: 1em;
  
}

/* Button Styling */
.button {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 1em 1.5em;
  position: relative;
  top: 200px;
  color: white;
  background-color: #f6d992;
}

/* Header Styling */
/* Code citation - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header */
header {
  background: url(../img/peach.abs.jpeg);
  position: absolute;
  width: 100%;
  height: 235px;
  margin-top: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem;
  color: whitesmoke;
}

nav a:hover, nav a:focus {
  color: silver;
}


/* Home Styling */
.home {
  background-image: url(../img/peach.jpeg);
  padding: 10em 0;
  color: white;
}

