@import
url("https://fonts.googleapis.com/css?family=Raleway:300,300italic,400,600,700,900");

* {
  box-sizing: border-box;
}

/* Typography styling */
.logo {
  float: center;
  height: 100px;
  width: 100px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif, Arial;
  text-align: center;
  width: 100%;
  height: 100%;
}

img {
  height: 400px;
  width: 600px;
}

.container {
  width: 95%;
  margin: 1em;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5em; 
  font-weight: 700;
  margin-top: 1em;
}

.container p {
  font-weight: 300;
  display: block;
  font-size: 1em;
  
}

/* Responsive styling */
@media (min-width:60rem) {
  .title {
    font-size: 2rem;
  }

  
}

/* Button Styling */
.button {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: 1em 1.5em;
  position: relative;
  top: 200px;
  left: 35px;
  color: white;
  background-color: #f6d992;
  border-color: #f6d992;
}

.button:hover, .button:focus {
  background: white;
  color: #f6b092;
}

.button-color {
  font-size: 0.8rem;
  border-width: 2px;
  border-style: solid;
  padding: 1em 1.5em;
  color: white;
  background-color: #f6b092;
  border-color: #f6b092;

}

.button-color:hover, .button-color:focus {
  background: white;
  color: #f6b092;
}

/* Header Styling */
/* Code citation - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header */
header {
  background: url(../img/peach.abs.jpeg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 235px;
  margin-top: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem;
  color: whitesmoke;
}

nav a:hover, nav a:focus {
  color: silver;
}


/* Home Styling */
.home {
  background-image: url(../img/peach.jpeg);
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: white;
}

.home-about {
  padding-top: 2.5em;

}

.home-about-textbox {
  background-color: #fae8e0;
  padding: 3em;
  width: 110vw;
  margin-left: -2.5%;
  outline: 3px solid white;
  outline-offset: -2.5em;
  position: relative;
  font-size: 1em;
}

.home-about-textbox h1 {
  color: black;
  position: absolute;
  left: 40%;
  top: .3em;
  background: #fae8e0;
}

/* Responsive styling */
@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }

  .home-about-textbox h1 {
    top: .6em;
    padding: 0 0.25em;
  }
}

/* Responsive styling */
@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  .home-about-textbox h1 {
    top: .4em;
    padding: 0 0.6em;
  }
}

/* Citation - www.developerdrive.com/responsive-image-gallery-flexbox/ */
/* Portfolio Styling */
.port-container {
  display: flex;
}


.portfolio {
  margin: 4em 0;
}

.portfolio-item {
  margin: 0;
  position: relative;
}

.portfolio-descr {
  position: absolute;
  z-index: 100;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: white;
  background: rgba(0,0,0,0.75);
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.portfolio-descr p {
  margin: 1em;
}

/* Responsive styling */
@media (min-width: 30rem) {
  .portfolio-item {
    width: 100%;
  }
}

@media (min-width: 60rem) {
  .portfolio-descr {
    width: 50%;
  }
}

/* Card Styling for education section */
/*Citation - https://www.freecodecamp.org/news/learn-css-basics-by-building-a-card-component/ */
#container img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
}

#container {
  height: 100%;
  position: relative;
}

.cards * {
  box-sizing: border-box;
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  margin: auto;
}

/* Style div elements that have class equal to tag */
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

/* Style p element */
.card p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}
 
/*Citation - https://www.freecodecamp.org/news/learn-css-basics-by-building-a-card-component/ */
.cards {
  max-width: 500px;
  margin: auto;
  top: 250px;
  display: grid;
  position: relative;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}


/* Skills Section Styling */
/* Code citation - www.foolishdeveloper.com/2021/08/animated-skills-bar-html-css.html 
                 - https://www.w3schools.com/css/css3_flexbox_container.asp */

.wrapper{
  width: 40%;
  min-width: 570px;
  position: absolute;
  margin-bottom: 220px;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.flex-container {
  width: 100%;
  padding: 30px 30px 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  margin-top: 300px;
}

.flex-container h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 33px;
}

.details {
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  border: 2px solid #f6d992;
  border-radius: 20px;
}

.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #f6d992;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

#sql-bar {
  width: 90%;
}

#r-bar {
  width: 90%;
}

#tableau-bar {
  width: 80%;
}

#python-bar {
  width: 65%;
}

#pb-bar {
  width: 60%;
}




/* Footer styling */
footer {
  display: inline-flex;
  justify-content: center;
  background-color: #f6a192;
  color: #fff;
  position: sticky;
  bottom: 0;
  width: 100%;
}